# Ignore everything
# *

# Ignore all hidden files/folders
.*

# Ignore executables
*.exe
*.deb
*.sh

# But not these files...
!.gitignore
!.gitconfig
!.gitmodules
!.bash_aliases
!.curlrc

# etc...

# https://stackoverflow.com/questions/987142/make-gitignore-ignore-everything-except-a-few-files
